{% extends 'base3.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="heading-title text-center">
                <h2>Special Menu</h2>
                <p>Move through to know price and more details</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="special-menu text-center">
                <div class="button-group filter-button-group">
                    <button class="active"  data-filter="*">All</button>
                    
                    {% for cat in category %}
                        <a href="" class="active" id="cat"  data-filter=".drinks">&nbsp;&nbsp;{{ cat.name }}  &nbsp;&nbsp; </a>
                    {% endfor %}
                    
                    

                </div>
            </div>
        </div>
    </div>
        
    <div class="row special-list">
        {% for menu in emenu %}
        <div class="col-lg-4 col-md-6 special-grid drinks">
            <div class="gallery-single fix">
                <img src="{{menu.media_image}}" class="img-fluid" alt="Image">
                <div class="why-text">
                    <h4>{{menu.name}}</h4>
                    <p>{{menu.description}}</p>
                    <h5> ₹{{menu.price}}</h5>
                    
                </div>
            </div>
            <input type="hidden" name="qr_code" value="hjws5tbp" id="">
            <input type="hidden" name="menuitem" value="{{ menu.id }}" id="menuitem">
            <input type="hidden" name="quantity" value=1 id="">
            <h2>{{menu.name}}</h2>
            <h2> ₹{{menu.price}}</h2>
            <a href="{% url 'customer:addToCart' menu.id  %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" >Add to cart</a>
        </div>
        {% endfor %}
        
       
    </div>
</div>
{% endblock %}